#product {
  background-color: lightgrey;
  flex-shrink: 0;
  height: 170px;
  width: 200px;
  text-align: center;
  opacity: .8;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px 0;
}